

<div class="row mt-2">
       
        <div class="col-md-12 mx-auto">
            <div class="card testimonial-card">
                <div class="card-up indigo lighten-1">
                </div>
    
                <div class="avatar mx-auto"><img src="./../../../../../assets/img/toeflLogo.png" class="rounded-circle">
                </div>    
                <div class="card-body">
                 
                    <h4 class="card-title">Toefl Registration</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Please select a Toefl Exam Number.....</p>
                </div>
    
            </div>
    
        </div>
    
    </div>
    <!--Grid row-->