<div class="problems">
<p>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>1</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>2</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>3</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>4</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>5</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>6</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>7</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>8</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>9</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>10</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>11</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>12</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>13</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>14</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>15</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>16</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>17</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>18</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>19</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>20</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>21</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>22</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>23</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>24</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>25</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>26</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>27</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>28</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>29</button>
    <button class="btn-floating btn-outline-primary waves-light" mdbWavesEffect>30</button>


</p>
</div>
<!-- 
<div class="fullscreen">
    <div class="card  m-1">
     <h3 class="card-header primary-color white-text text-center">Reading Section and Problems</h3>
         <div class="card-body p-1">

           <div class="row m-0">
                   <div class="col-md-12">
                     <div class="card card-body pt-1 pb-0">
                       <app-reading-problems></app-reading-problems>
                     </div>
                   </div>
           </div>

           <div class="row mt-1">
                 <div class="col-md-5">
                   <div class="card card-body">
                         <button type="button"
                                 class="btn btn-primary btn-lg btn-block waves-light"
                                 (click)="onSubmit()"
                                 #floatingButton
                                 mdbWavesEffect>
                                 <i class="fa fa-question mr-1">
                                 </i>
                                 Make Problems
                                 </button>
                   </div>
                 </div>

                   <div class="col-md-7">
                       <form [formGroup]="readingSection" (ngSubmit)="onSubmit()">
                         <div class="card card-body pt-0">

                               <div class="md-form">
                                   <input mdbInputDirective
                                         type="text"
                                         id="section1Title"
                                         class="form-control"
                                         formControlName="section1Title"
                                         >
                                   <label for="section1Title" class="">Enter the Reading Title</label>
                                 </div>

                           <div>
                           <app-tony-editor></app-tony-editor>
                         </div>
                           <div class="mx-auto">
                               <button type="submit"
                               class="btn btn-success waves-light"
                               (click)="onSubmit()"
                               mdbWavesEffect>
                               <i class="fa fa-question mr-1">
                               </i>
                                 Save !
                               </button>

                               <button type="button"
                               class="btn btn-warning waves-light"
                               (click)="onDelete()"
                               mdbWavesEffect>
                               <i class="fa fa-question mr-1">
                               </i>
                                 Delete !
                               </button>
                         </div>

                         </div>
                       </form>
                 </div>


           </div>

         </div>
     </div>
   </div> -->
