
<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav1 class="sn-bg-1" [fixed]="false">
       <app-teacher-sidebar></app-teacher-sidebar>
    </mdb-sidenav>
    <!--/. Sidebar navigation -->
    <app-teacher-nav-header (sidenavToggle1)="sidenav1.toggle()"></app-teacher-nav-header>

</header>

<div class="fullscreen">
        <div class="row ml-2 mr-5">
        <div class="mx-auto col-md-5">
          <app-regist-toefl-list></app-regist-toefl-list>
        </div>
        <div class="mx-auto col-md-7">
            <router-outlet></router-outlet>
        </div>
      </div>
</div>
