
        <logo>
          
                <div class="logo-wrapper waves-light pl-4">                                       
                                        <img src="../../../assets/img/toeflLogo.png"
                                        class="rounded-circle img-fluid flex-center"
                                        style="max-height: 90px">       
                </div>
                
        </logo>

     
            <!-- Side navigation links -->
            
                <ul class="collapsible collapsible-accordion">
                    <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                        <!-- Collapsible link -->
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <i class="fa fa-chevron-right"></i> Collapsible menu</mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a class="waves-effect" mdbWavesEffect>Link 1</a>
                                    </li>
                                    <li>
                                        <a class="waves-effect" mdbWavesEffect>Link 2</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>

                        <!-- Simple link -->
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect>
                                <i class="fa fa-hand-pointer-o"></i> Simple link</mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>

                        <!-- Collapsible link -->
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <i class="fa fa-eye"></i> Collapsible menu 2</mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a class="waves-effect" mdbWavesEffect>Link 1</a>
                                    </li>
                                    <li>
                                        <a class="waves-effect" mdbWavesEffect>Link 2</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>

                        <!-- Simple link -->
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect>
                                <i class="fa fa-diamond">
                                    <a></a>
                                </i> Logout </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>

                    </mdb-squeezebox>
                </ul>
           
            <!--/. Side navigation links -->
       
        <div class="sidenav-bg mask-strong"></div>
