
textarea.ng-invalid {
  border: 1px solid red;
}

.fileBox {
  border: 1px solid blue;
}


input[type="file"] {
  visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}
