.areaDesc {
    position: relative;
    top: -3rem;
    left: 0;
    bottom: 1rem;
    right: 0;
    overflow: auto;
}

.para {
    height: 18rem;
    min-height: 10rem;
    overflow: auto;
  }

.panel {
    position: relative;
    top: -2rem;
}
