
<div class="row">
    <div class="col-md-11 mx-auto">
      <mdb-card class="testimonial-card">
        <div class="card-up indigo lighten-1">
        </div>
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
        </div>

        <mdb-card-body>

          <mdb-card-title>
            <h4>{{ userInfo.name }}</h4>
          </mdb-card-title>
          <hr>
          <p>Email: {{ userInfo.email }}</p>
          <hr>
          <p>Password 변경 부위</p>
          <hr>
          <p>Current Address 삽입부위</p>
          <hr>
          <p>Shipping Address 삽입부위</p>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

