
<!--Main Layout-->

<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="card col-md-4 mx-auto">
                    <h6 class="card-header primary-color white-text text-center rounded z-depth-2">LogOut</h6>
                    <div class="card-body text-center">
                        <p class="card-text text-center">Do you really want to logout?</p>
                        <br>
                          <button class="btn btn-primary waves-light z-depth-2" mdbWavesEffect (click)="onLogout()" ><i class="fa fa-sign-out mr-1"></i>Yes</button>
                          <button class="btn btn-default waves-light z-depth-2" mdbWavesEffect
                                  
                          (click)="onStay()">No<i class="fa fa-sign-in ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--/Main layout-->
